<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/notices' %>

    <div class="container mx-auto">
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
